* {
    margin  : 0;
    padding : 0;
}

body {
    background-image: url(./Images/Gator.png);
    background-size: 100%;
}

img {
    max-width  : 100%;
    max-height : 100%;
}

.logo {
    text-align: center;
}

.submit {
    text-align: center;    
}

.label {
    padding : 13px;
    color : white;
}

.category {
    color : white;
}

/* .results {

} */


